/* h1 {
  color: green;
}
                               /* *=asterisk    &=ampersand */
p {
  color: blue;
}

button {
  color: brown;
  background-color: white;
}

body {
  background-color: #005f73;
}

/* Universal Selector */

/* * {
  color: blue;
} */

/* Element selector */
/* 
h1 {
  color: green;
} */

button {
  color: brown;
}

/* ID selector */

#headingOne {
  color: yellow;
}

#box {
  color: darkslateblue;
  background-color: aqua;
}

.myclass {
  color: magenta;
}

/* .heading {
  color: red;
} */

/* h1,
h2,
h3 {
  color: brown;
} */

button {
  color: green;
  background-color: aqua;
}

Text PProperties p {
  text-align: end;
}

/* h1 {
  color: blueviolet;
  text-decoration: underline wavy blue;
  text-align: right;
} */

a {
  text-decoration: none;
}

#h1 {
  font-weight: 100;
}

#h2 {
  font-weight: 300;
}

#h3 {
  font-weight: 600;
}

#h4 {
  font-weight: 900;
}
